<footer class="space--xs footer-1 foot_outer">
    <div class="container">
        <div class="footer_box">
            <img src="../images/whormhole_logo.png" alt="logo">
            <div class="foot_content">
                <a href="https://medium.com/@wormholecash" target="_blank">
                    <i class="socicon socicon-medium icon icon--xs"></i>
                    Medium
                </a>
                <a href="https://twitter.com/WormholeCash" target="_blank">
                    <i class="socicon socicon-twitter icon icon--xs"></i>
                    Twitter
                </a>
                <a href="https://t.me/joinchat/ExB1tQ-vgIZxFmA749z2nA" target="_blank">
                    <i class="socicon socicon-telegram icon icon--xs"></i>
                    Telegarm
                </a>
                <a href="https://wormholetech.slack.com/join/shared_invite/enQtNDU4MTUyODgxMTg2LTEwNDE4NzhiOWVmYTE4MmI0OWMyODA4MWE5ODFkYTJkNzhkMGZlNGYwZTAyYzRmOTc1ZDdlOWE2NWVlNzRlNzY" target="_blank">
                    <div  class='item-container'>
                        <span class='icon-slack icon-item'></span>
                        <span class='name'>Slack</span>
                    </div>
                </a>
            </div>
            <div class="foot_footer">
                © 2018 wormhole.cash
            </div>
        </div>
    </div>
</footer>
<a class="back-to-top inner-link" href="#start" data-scroll-class="100vh:active">
    <i class="stack-interface stack-up-open-big"></i>
</a>