<footer class="space--xs footer-1 foot_outer">
    <div class=".container-fluid">
        <div class="footer_box">
            <img src="../images/whormhole_logo.png" alt="logo">
            <!-- <div class="foot_content">
                <a href="https://twitter.com/WormholeCash" target="_blank">
                    <i class="socicon socicon-twitter icon icon--xs"></i>
                    Twitter
                </a>
                <a class="hidden-sm hidden-xs" href="https://medium.com/@wormholecash" target="_blank">
                    <i class="socicon socicon-medium icon icon--xs"></i>
                    Medium
                </a>
                <a class="visible-sm visible-xs" href="https://medium.com/@wormholecash" target="_blank">
                    <i class="socicon socicon-medium icon icon--xs"></i>
                    Medium
                </a>
                <a href="https://github.com/copernet" target="_blank">
                    <i class="socicon socicon-github icon icon--xs"></i>
                    Github
                </a>
            </div> -->
            <div class='container footer-container'>
                <!-- <div class='footer-title-container'>
                    <div class='item'><%= __('menu').blog %></div>
                    <div class='item'><%= __('contactUs') %></div>
                </div> -->
                <div class='line'></div>
                <div class='footer-social-container'>
                    <div class='social-body-item'>
                        <div class='row-container title-container'>
                            <div class='item'><%= __('menu').blog %></div>
                        </div>    
                        <div class='row-container first'>
                            <a href="https://www.jianshu.com/c/c130aec4a7d1" target="_blank">
                                <div  class='item-container'>
                                    <span class='icon-jianshu icon-item'></span>
                                    <span class='name'>简书</span>
                                </div>
                            </a>
                            <a href="https://bch.club/index.php?app=team&mod=Forum&act=index&team_id=9" target="_blank">
                                <div  class='item-container'>
                                        <span class='icon-bch-club icon-item'></span>
                                        <span class='name'>BCHClub</span>
                                </div> 
                            </a>
                        </div>
                        <div class='row-container'>
                                <a href="https://github.com/copernet/spec" target="_blank">
                                    <div  class='item-container special'>
                                        <span class='icon-footer-github icon-item'></span>
                                        <span class='name'>GitHub</span>
                                    </div>
                                </a>
                        </div>
                        <div class='row-container'>
                                <a href="https://medium.com/@wormholecash" target="_blank">
                                    <div  class='item-container special'>
                                        <span class='icon-footer-medium icon-item'></span>
                                        <span class='name'>Medium</span>
                                    </div>
                                </a>
                        </div>
                    </div>
                    <div class='social-body-item'>
                            <div class='row-container title-container'>
                                <div class='item'><%= __('contactUs') %></div>
                            </div>    
                            <div class='row-container first'>
                                <a href="https://weibo.com/u/6367632680?topnav=1&wvr=6&topsug=1&is_all=1" target="_blank">
                                    <div  class='item-container'>
                                        <span class='icon-weibo icon-item'></span>
                                        <span class='name'>微博</span>
                                    </div>
                                </a>
                                <a href="https://twitter.com/WormholeCash" target="_blank">
                                    <div  class='item-container'>
                                            <span class='icon-twitter icon-item'></span>
                                            <span class='name'>Twitter</span>
                                    </div> 
                                </a>
                            </div>
                            <div class='row-container'>
                                    <div  class='item-container' id='icon_wechat'>
                                        <span class='icon-wechat icon-item'></span>
                                        <span class='name'>微信公众号</span>
                                        <div id='popup' style='display:none;'>
                                            <img src="images/wormhole_wechat_qr.jpeg" alt="wormhole wechat qrcode" class='whc-wechat-qr'>
                                        </div>
                                    </div>
                                    <a href="https://t.me/joinchat/ExB1tQ-vgIZxFmA749z2nA" target="_blank">
                                        <div  class='item-container '>
                                            <span class='icon-telegram icon-item'></span>
                                            <span class='name'>Telegram</span>
                                        </div>
                                    </a>
                            </div>
                            <div class='row-container'>
                                    <div  class='item-container' id='icon_k'>
                                        <span class='icon-k icon-item'></span>
                                        <span class='name'>K站：虫洞WHC</span>
                                        <div id='popup_k' style='display:none;'>
                                                <img src="images/k_qrcode.jpeg" alt="k qrcode" class='whc-wechat-qr'>
                                        </div>
                                    </div>
                                    <a href="https://wormholetech.slack.com/join/shared_invite/enQtNDU4MTUyODgxMTg2LTEwNDE4NzhiOWVmYTE4MmI0OWMyODA4MWE5ODFkYTJkNzhkMGZlNGYwZTAyYzRmOTc1ZDdlOWE2NWVlNzRlNzY" target="_blank">
                                        <div  class='item-container '>
                                            <span class='icon-slack icon-item'></span>
                                            <span class='name'>Slack</span>
                                        </div>
                                    </a>
                            </div>
                    </div>
                </div>
            </div>
            <div class="foot_footer">
                © 2018 wormhole.cash
            </div>
        </div>
    </div>
</footer>
<a class="back-to-top inner-link" href="#start" data-scroll-class="100vh:active">
    <i class="stack-interface stack-up-open-big"></i>
</a>