<section class="text-center site-header">
    <div class="site-cover"></div>
    <div class="container header_content">
        <div class="row">
            <div class="col-sm-12 col-md-6">
                <img alt="Bitcoin Cash" src="images/head_content_left.png">
            </div>
            <div class="col-md-5 col-md-offset-1 col-sm-12">
                <div class="right_box">
                    <div class="right_hedader">
                        <%= __('brand_title') %>
                    </div>
                    <div class="right_content">
                        <div class="right_blank"></div>
                        <p class="lead" style="font-weight:90;margin-top: 10px;text-align: right" data-item="lead">
                            <%= __('lead') %>
                        </p>
                    </div>
                    <div class="header_btn_container">
                        <a href="https://github.com/copernet/wormhole" target='_blank'>
                            <div class='left_btn_container item'>
                                    <span class='github-icon'></span>
                                    <span class='text'>GitHub</span>
                            </div>
                        </a>
                        <a href="https://github.com/copernet/spec" target='_blank'>
                            <div class='right_btn_container item'>
                                    <%= __('documentation') %>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>